.devcontainer/
.github/
.idea/
.vscode/
.vscode-test/
.vscode-test-web/
coverage/
node_modules/
out/test/
src/

**/*.map
**/*.ts
**/*.vsix

images/cmds.png
images/demo.gif
.codecov.yml
.eslintrc.json
.gitignore
.gitpod.Dockerfile
.gitpod.yml
.ncurc.json
.nycrc.json
.yarnrc
tsconfig.json
yarn.lock
