.vscode/**
.vscode-test/**
coverage/**
out/test/**
src/**
node_modules/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.github/**
images/screenshot*

.codecov.yml
.ncurc.json
rollup.config.js
