.github/
.idea/
.vscode/
.vscode-test/
coverage/
node_modules/
out/test/
src/

**/*.map
**/*.ts
**/*.vsix

images/screenshot*
.codecov.yml
.eslintrc.json
.gitignore
.ncurc.json
.nycrc.json
rollup.config.js
tsconfig.json
